@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* breakpoint */
  --breakpoint-BLG: 56.25rem; /*900 px*/
  --breakpoint-xxs: 34.375rem;
  --breakpoint-xs: 31.875rem; /*510px*/

  /* radius */
  --radius-xm: 0.5rem; /* 8px */

  /* font-size */
  --text-xm: 0.875rem; /* 14px */

  /* color */
  --color-primary: #4928fd;
  --color-lightblue: #d9f3fc;
  --color-lightyellow: #fdf1d3;
  --color-lightgreen: #5e8e3e;
  --color-lightred: #fa0c00;

  /* line-height */
  --leading-5.5: 1.4rem;
  --leading-xl: 9.75rem;

  /* gap */
  --spacing-30: 7.5rem;
  --spacing-30p: 30%;
  --spacing-60p: 60%;
  --spacing-65p: 65%;
  --spacing-80p: 80%;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.InstrumentS {
  font-family: var(--font-InstrumentS), serif;
}

@layer base {
  h1 {
    @apply text-black dark:text-gray-200/90;
  }
  h2 {
    @apply text-black dark:text-gray-200/90;
  }
  h3 {
    @apply text-black dark:text-gray-200/90;
  }
  h4 {
    @apply text-black dark:text-gray-200/90;
  }
  h5 {
    @apply text-black dark:text-gray-200/90;
  }
  h6 {
    @apply text-black dark:text-gray-200/90;
  }
  p {
    @apply text-black dark:text-gray-200/90;
  }
}
